
    <title>Ticket</title>
    <link rel="stylesheet" href="/css/Single-Ticket.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <div class="kol">
    <div class="nav">
        <h1 class="logo">ASAS</h1>
        <div class="title">
        <h2 class="titr">User Panel</h2>
        </div>
        <div class="user"><i class='bx bx-user' style='color:#e2dddd'></i><h4><%= thistickets.name %></h4></div>
        <div class="title">
            <h2 class="titr">Ticket Name</h2>
            </div>
        <div class="user"><i class='' style='color:#e2dddd'></i><h4><%= thistickets.TicketName %></h4></div>
        <nav class="ul">
            <ul>
                <li><i class='bx bxs-home-alt-2' id="home-icon"></i><a id="home" href="/">Home</a></li>
                <li><i class='bx bxs-message-rounded' id="ticket-icon"></i><a id="ticket" href="/user/panel/Tickets">Ticket</a></li>
                <li><i class='bx bx-plus-medical' id="plus-icon" ></i><a id="plus" href="/user/panel/Tickets/New-Ticket">New Ticket</a></li>
            </ul>
        </nav>
    </div>
    <div class="bloc">
        
        <form action="/user/panel/ticket/DeleteTicket" role="form" method="POST" class="form">
            <input type="hidden" name="token" value="<%= req.params.id %>">
            <div class="respa">
<button>Clear Ticket</button>  
          </div>
        </form>
       <% let kosnanat = true %>
       <% let kosmadaret = true %>


            <div class="tick" style="display: block;">
                <% tickets.docs.forEach(Ticket => { %>

         <% if(Ticket.AdminTicket) { %> 
        <div class="admin-ticket">
            <% if(kosnanat) { %> 
            <div class="title-ticket">
            <h2>Admin</h2>
            </div>
            <% } %>
            <% kosnanat=false %>
            <div class="box-ticket">
            <h4><%= Ticket.Ticket %></h4>
                    </div>
        </div>
        
<% } %>
<% if(!Ticket.AdminTicket) { %> 

        <div class="My-ticket">
            <% if(kosmadaret) { %> 

            <div class="title-my">
                <h2>User</h2>
            </div>
            <% } %>
<% kosmadaret=false %>
            <div class="box-ticket">
                <h4><%= Ticket.Ticket %></h4>
            </div>

        </div>
        <% } %>
        <% }); %>

        </div>

        <form action="/user/panel/ticket/SendTicket" role="form" method="POST" class="form">
            <input type="hidden" name="token" value="<%= req.params.id %>">
            <div class="text">
                <div class="textarea-center">
                <textarea name="ticket" id="ticket" cols="30" rows="10" placeholder="Message"></textarea>
                </div>
                <div class="but-last">
                    <button class="log-btn">Send</button>
                </div>
            </div>
        </form>
    </div>
   
    </div> 

    
